
/* Portfolio design*/

body {
	text-align: center;
	color: #777;
	font-family: "Lato";
}

h1 {
	text-align: center;
	color: #777;
	font-size: 20px;
	font-family: "Lato";
}

h2 {
	text-align: center;
	color: #777;
	font-size: 18px;
	font-family: "Lato";
}

h4 {
	text-align: center;
	color: white;
	font-size: 12px;
	font-family: "Lato";
}

h5 {
	text-align: center;
	color: #777;
	font-size: 14px;
	font-family: "Lato";
	margin-bottom: 70px;
}
p {
	text-align: justify;
	text-justify: inter-word;
	color: #777;
	font-size: 15px;
	font-family: "Lato";
	margin: 45px;
}

/*Picture editing*/

img.displayed {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

img.displayed2 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 20px;
    width: 250px;
	height: 250px;
}

/* Links*/

a:link, a:visited {
    background-color: #C0E0DA;
    color: white;
    padding: 15px 23px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-align: center;
    font-family: "Lato";
    font-style: normal;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #5EAE9E;
}

/*Job descriptions*/

.banner-container {
	background-color: #C0E0DA;
	display: block;
	font-size: 17px;
	vertical-align: middle;
	text-align: center;
}

.picture-container {
	display: inline-block;
	float: left;
	width: 50%;
	height: 100%;
}

.left-container {
	background-color: white;
	display: inline-block;
	padding: 2px;
	margin: 2px;
	width: 28%;
	height: 100%;
	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 32px;
}

.middle-container {
	background-color: white;
	display: inline-block;
	padding: 2px;
	margin: 2px;
	width: 28%;
	height: 100%;
	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 32px;
}

.right-container {
	background-color: white;
	display: inline-block;
	padding: 2px;
	margin: 2px;
	width: 28%;
	height: 100%;
	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 32px;
}

.bottom-container {
	background-color: #C0E0DA;
	display: block;
	font-size: 17px;
	color: white;
	vertical-align: middle;
	text-align: center;
	padding-top: 12px;
    padding-bottom: 12px;
   	bottom: 0;
   	width: 100%;
}

.blog-container {
	background-color: white;
	display: inline-block;
	padding: 20px;
	margin: 2px;
	width: 70%;
	height: 100%;
	text-align: justify;
	text-justify: inter-word;
	margin-bottom: 32px;
}


/*Media queries*/

@media only screen and (max-width: 760px) {
	.left-container {
		font-size: 30px;
		width: 80%;
		height: 100%;
	}
	.middle-container {
		font-size: 30px;
		width: 80%;
		height: 100%;
	}
	.right-container {
		font-size: 30px;
		width: 80%;
		height: 100%;
	}
}
